a {
  color: #7d5a50;
}

body {
  background-image: radial-gradient(circle, black, grey);
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #7d5a50;
  font-size: 5rem;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  display: inline-block;
  margin-top: 10%;

}

h2 {
  color: #7d5a50;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 40px auto 40px auto;
}

h3 {
  color: black;
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

p {
  margin: 0;
}

img{
  background-color: #D6ECFA;
}

.img-mountain {
  width: 100%;
}

hr {
  border-style: dotted;
  border-width: 10px 0 0 0;
  width: 10%;
  border-color: #D6ECFA;
}

.myhr
{
  display:block;
  border:none;
  height:50px;
  background-image:url('../images/qd.gif');
}

.img_round{
  margin-top: 20px;
  border-radius: 100%;
}

.main-container{
  position: relative;
  border-radius: 80%;
  width: 80%;
  margin: 0 auto 0 auto;
}

.top-cointainer {
  margin: 0 auto 0 auto;
  background-color: #D6ECFA;
  position: relative;
  line-height: 2;

}

.middle-container {
  background-color: #FAF1E6;
}

.bottom-container {
  background-color: #FAF1E6;
}

.stone {
  width: 3%;
  margin: 0 30px 0 30px;
}

.passion {
  margin: 10px auto 60px auto;
  width: 50%;
  line-height: 2;
}


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-size-l {
  width: 25%;
  height: auto;
  float: left;
  margin-right: 30px;
}

.img-size-r {
  width: 25%;
  height: auto;
  float: right;
  margin-left: 30px;
}

.clear-right {
  clear: right;
}

.BUTTON_RHU {
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Helvetica;
   width: 263px;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   background-color: #D6ECFA;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_RHU:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
